<section class="portfolio-section" id="portfolio">
  <div class="container">

      <h2 class="portfolio-title section-title">Portfolio Highlights</h2>

      <ul class="portfolio-filter">
        
      </ul>

      <ul class="portfolio-list">

      </ul>

      <div class="portfolio-button">
        <button type="button" class="show-more-btn button">
          Show More
        </button>
      </div>
      
      <div class="loader is-hidden">
          <span class="loader-spinner"></span>
      </div>
    
  </div>
</section>
